.card-body{
    background-color: rgb(255,255,255,0.9);
    margin: auto;
    max-width: 80vw;
    border-radius: 20px;
    margin-top: 2rem;
}

i{
    float: right;
    cursor: pointer;
    font-size: 18px;
}

.container{
    min-height: 80vh;
}

.textoIcono{
    float: right;
}

.bi-trash{
    font-size: 23px;
}
.bi-trash:hover{
    color: rgb(255, 0, 0);
}