<div class="contenedor" *ngIf="carga">
    <div class="card card-inverse" >
        <div class="card-block containerCarta">
            <div class="row datosUser">

                <div class="col-md-4 col-sm-4 text-center">
                    <img class="btn-md" class="img-fluid fotoPerfil"src="./assets/img/perfil.png" alt="Imagen estandar de usuario" >
                </div>  
                
                <div class="col-md-8 col-sm-8" style="padding: 3rem;">
                    <h2 class="card-title">Nombre: {{user.name}}</h2>
                    <p class="card-text"><strong>Descripción: </strong> {{user.aboutMe}} </p>
                    <p class="card-text"><strong>Email: </strong> {{user.email}} </p>
                    <button class="btn btn-dark btn-lg btn-block" [routerLink]="['editar']" > Editar información </button>
                </div>
                
                <div class="row">
                <div class="col-md-6 col-sm-6 text-center numeros">
                    <h2><strong>{{user.numberOfPosts}}</strong></h2>                    
                    <p><small>Número de posts</small></p>
                </div>

                <div class="col-md-6 col-sm-6 text-center numeros">
                    <h2><strong>{{user.numberOfComents}}</strong></h2>                    
                    <p><small>Número de comentarios</small></p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>