<div class="container text-center" >
  <div class="text-center p-5 m-auto" style="background-image: url(./assets/img/bannerPortada2.jpg); background-size: cover; background-repeat: no-repeat;">
      <img src="./assets/img/logo2.png" alt="Imagen de banner con el nombre de la web (Andromeda) y el eslogan (Aprende, investiga y comparte)" class="img-fluid">
      <hr class="text-white " style="width: 60%; margin: auto">
      <br>
      <h3 class="tituloMain"> - Aprende, investiga y comparte - </h3>
  </div>
  <br><br><br>
  <div class="d-flex flex-wrap">
    <img src="./assets/img/portada2.jpg" alt="Imagen portada muejr astronauta" class="img-fluid m-auto portada">
    <img src="./assets/img/portada3.jpg" alt="Imagen portada tarro de estrellas" class="img-fluid m-auto portada">
    <img src="./assets/img/portada1.jpg" alt="Imagen portada via lactea" class="img-fluid m-auto portada">
  </div>
</div>
