
 <!--Carousel-->
  <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000" style="background-color: #000;">
    <!--Botones que indica en que slide estamos y nos permite navegar entre ellos-->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <!--Items del carousel donde introducir las imagenes de las ultimas tres noticias de la base de datos.-->
    <div class="carousel-inner" style="height: 40rem;">
      <div class="carousel-item active" >
        <img src="/assets/img/slide1.jpg" class="imagen d-block w-100" style="height: 40rem;">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/slide2.jpg" class="imagen d-block w-100" style="height: 40rem;">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/slide3.jpg" class="imagen d-block w-100" style="height: 40rem;">
      </div>
    </div>
    <!--Botones para desplazarse entre los slide hacia delante y hacia atras-->
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
  