
a {
	color: #FFF;
	font-family: 'Contrail One';
	font-weight: 900;
	text-transform: uppercase;
}
a:after {
	content: '';
	display: block;
	height: 2px;
	background: white;
	width: 0%;
	transition: width .15s ease-out .15s;
}
a:hover{
	color:rgb(241, 214, 123);
}
a:hover:after {
	width: 100%;

}

.menu{
	margin-top: 3.5rem;
	
}

.active{
	color:rgb(241, 214, 123)!important;
	background-color: transparent!important;
}