.card-body{
    background-color: rgb(255,255,255,0.9);
    margin: auto;
    max-width: 80vw;
    border-radius: 20px;

}

.titulo{
    text-transform: uppercase;
    text-decoration:underline 3px;
    font-style: normal;
}
.icono {
	font-size: 16px; 
	text-transform: uppercase;
	font-weight: bold; 
	color: rgb(0,0,0); 
	border-radius: 5px; 
	letter-spacing: 2px; 
	background-color: rgb(255,255,255);
	padding: 18px 30px;
    border-radius: 20px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0,0.5);
	z-index: 99;
    cursor: pointer;
}
.volver{
    margin-left: 3rem;
    min-height: 100px;
}
.icono{
    font-size: 2rem;
}
.container{
    min-height: 80vh;
}