<div class=""></div>
<br><br>
<a class="volver" >
    <i class="icono bi bi-arrow-90deg-left" (click)="volverAForo()"></i>
</a>
<div class="container">
    
    <div class="card-body p-5" *ngIf="carga">
        <h2 class="text-center titulo"> {{post.title}} </h2>
        <p> {{post.author.name}}</p>
        <hr>
        <p> {{post.body}}</p>
        <p class="small"> {{post.date}}</p>
        <div>
        <span>Editar: <i class="bi bi-pencil-square"></i></span>
        </div>
    </div>
</div>
