<p>login works!</p>

<!-- <div class="container m-auto">
    <div class="card p-4" style="width: 18rem; ">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Introduzca su email...">
                    
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Introduzca la contraseña...">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                ¿No tienes una cuenta?<a [routerLink]="['/register']">Registrarse</a>
            </div>
        </div>
    </div>
</div> -->