 <section class="pagina">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1%;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5">

                                    <form class="form" (ngSubmit)="login()">
                                        <h4 class="mb-3 pb-3"><strong>Iniciar Sesión</strong></h4>
                                        <div class="form-outline mb-4 row">
                                          <label class="form-label col-sm-3" id="login">Usuario</label>
                                          <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-lg" [(ngModel)]="user.userName" placeholder = "Introduzca su nombre de ususario" name="userName" #userName="ngModel" required/>
                                            <span class="form-text text-danger" *ngIf="userName.errors && userName.touched"> El nombre de usuario es obligatorio </span>
                                          </div>
                                          <br><br>
                                        </div>
                                        <div class="form-outline mb-4 row">
                                          <label class="form-label col-sm-3" id="logni">Contraseña</label>
                                          <div class="col-sm-9">
                                            <input type="password" class="form-control form-control-lg" [(ngModel)]="user.password" placeholder = "Introduzca su contraseña"  name="password"  #password="ngModel" required/>
                                            <span class="form-text text-danger" *ngIf="password.errors && password.touched"> La contraseña es obligatoria </span>
                                        </div>
                                        </div>
                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">Iniciar Sesión</button>
                                        </div>
                                        <p class="mb-5 pb-lg-2">¿No tienes una cuenta?  <a [routerLink]="['register']"> Regístrate aquí</a></p>

                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5">
                                <img class="img-fluid" alt="Imagen de login. Imagen donde se ve un desierto con el cielo estellado" src="./assets/img/login.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>