<div class="carga text-center pagina" *ngIf="carga">
    <img class="gifCarga img-fluid" src="./assets/img/carga.gif" style="filter:contrast(200%)">
</div>

<div class="container" style="min-height: 63vh" *ngIf="!carga">
    <div class="input-group container align-items-center">
        
        <div class="form-outline d-flex m-auto ">
            <input type="search" size="30" id="form1" class="" [(ngModel)]="busqueda" (keyup.enter)="obtenerInfo()"placeholder="Busqueda..."/>
            <button type="button" class="btn" (click)="obtenerInfo()">
                <i class="bi bi-search text-white"></i>
            </button>
        </div>
    </div>

    <div class="text-white" *ngIf="error" style="height: 60vh;">
        <h1 class="text-center justify-content-center mt-5 p-5"> Opss... No se ha podido encontrar nada </h1>
    </div>

    <div class="container mt-5 d-flex flex-wrap" *ngFor="let info of listInfo">
        <div class="imagen m-auto">
            <img src={{info.image}} class="img-fluid" style="height: 20rem;">
        </div>
        <div class="texto" style="max-width: 30rem; margin: auto">
            <p class="text-white text-uppercase titulo"> {{info.nameInfo}}</p>
            <hr class="text-white">
            <p class="text-white cuerpoInfo"> {{info.info}}</p>
        </div>
        
    </div>
</div>