<div class="container" style="min-height: 63vh">
    <div class="input-group container align-items-center">
        
        <div class="form-outline d-flex m-auto ">
            <input type="search" size="30" id="form1" class="" [(ngModel)]="busqueda" (keyup.enter)="obtenerInfo()"placeholder="Busqueda..."/>
            <button type="button" class="btn" (click)="obtenerInfo()">
                <i class="bi bi-search text-white"></i>
            </button>
        </div>
    </div>

    <div class="text-white" *ngIf="error" style="height: 60vh;">
        <h1 class="text-center justify-content-center mt-5 p-5"> Opss... No se ha podido encontrar nada </h1>
    </div>

    <div class="container mt-5 d-flex flex-wrap" *ngFor="let info of listInfo">
        <div class="imagen m-auto">
            <pinch-zoom [double-tap-scale]="5" [doubleTap]="true">
            <img src={{info.image}} class="img-fluid" alt="imagen de {{info.nameInfo}}" style="height: 20rem;">
            </pinch-zoom>
        </div>
        <div class="texto" style="max-width: 30rem; margin: auto">
            <p class="text-white text-uppercase titulo"> {{info.nameInfo}}</p>
            <hr class="text-white">
            <p class="text-white cuerpoInfo"> {{info.info}}</p>
        </div>
        
    </div>
</div>