
<app-navbar></app-navbar>
<div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" [(ngModel)]="busqueda" placeholder="Busqueda..."/>
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="obtenerInfo()">
                <i class="bi bi-search"></i>
            </button>
        </div>
</div>

<div class="text-white" *ngIf="error" style="height: 100vh;">
    <h1 class="text-center justify-content-center"> No se ha encontrado nada :(</h1>
</div>

<div class="container mt-5" *ngFor="let info of listInfo">
    <img src={{info.imagen}} style="width: 23rem; height: 20rem;">
    <p class="text-white text-uppercase"> {{info.nombreInfo}}</p>
    <p class="text-white"> {{info.informacion}}</p>
</div>
<app-footer></app-footer>