<div class="contenedor">
    <div class="card card-inverse">
        <div class="card-block containerCarta">
            <div class="row datosUser">

                <div class="col-md-4 col-sm-4 text-center">
                    <img class="btn-md" class="img-fluid fotoPerfil"src="../../../assets/img/perfil.png" alt="" style="border-radius:50%;">
                </div>  
                
                <div class="col-md-8 col-sm-8" style="padding: 3rem;">
                    <form [formGroup]="formularioEditarDatos" id="formEdit" (submit)="editarUsuario()">
                        <h2 class="card-title">Nombre: <input type="text" formControlName="name"/>
                        <br>
                        <p class="form-text text-danger" *ngIf="formularioEditarDatos.controls['name'].errors && formularioEditarDatos.controls['name'].touched">Nombre no válido </p>

                        </h2>
                        <p class="card-text"><strong>Descripción: </strong>  </p>
                        <textarea cols="40" rows="5" form="formEdit" formControlName="aboutMe"> </textarea>
                        <br><br><br>

                        <button class="btn btn-dark btn-lg btn-block"[disabled]="formularioEditarDatos.invalid" > Realizar cambios </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
