<div class="contenedor">
    <div class="card card-inverse" style="background-color: rgb(235, 72, 72); border-color: rgb(255, 255, 255);">
        <div class="card-block containerCarta">
            <div class="row datosUser">

                <div class="col-md-4 col-sm-4 text-center">
                    <img class="btn-md" class="img-fluid fotoPerfil"src="../../../assets/img/fondoError.gif" alt="" style="border-radius:50%;">
                </div>  
                
                <div class="col-md-8 col-sm-8" style="padding: 3rem;">
                    <form>
                    <h2 class="card-title">Nombre: <input type="text" /></h2>
                    <p class="card-text"><strong>Descripción: <input type="text"/></strong>  </p>
                    <p class="card-text"><strong>Email: <input type="text"/></strong>  </p>
                    <button class="btn btn-dark btn-lg btn-block"> Realizar cambios </button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
