<div class="container">

        <h1 class="text-center text-white">¿Quienes somos?</h1> 
        <hr>
    <br><br>
    <p class="text-white">Andrómeda es una web dedicada al mundo de la astronomía. Aquí podras encontrar información respecto al universo en el que vivimos.
         Creemos que la sociedad actual no conoce las maravillas que navegan por el basto universo, es por eso que nace la idea de Andrómeda. La finalidad de esta web 
         es crear una grán comunidad donde poder disfrutar juntos los nuevos descubrimientos de las investigaciones espaciales y compartir entre todos conocimientos del mundo de la astronomía.<br>
         El único administrador de la página es Francisco Blanco, un joven estudiante de desarrollo web que ha querido dedicar un proyecto a realizar una web de astronomía.
    </p>
    
    <br><br>
    <hr>
    <h3 class="text-white text-center">Adéntrate en el universo con nosotros y comienza a conocer más sobre el espacio</h3>
    <hr>
    <br><br>
    <img src="./assets/img/bannerContacto.jpg" class="img-fluid">
    <br><br><br><br>

    <h1 class="text-center text-white">¿Quieres saber más sobre Andrómeda?</h1> 
    <br><br>
    <h3 class="text-center text-white"></h3> 
    <div class="card" style="border-radius: 1%;">
        <div class="row g-0">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5">
                    <form class="form-horizontal">
                        <h4 class="mb-3 pb-3 text-white"><strong>Contáctanos</strong></h4>
                        <div class="form-outline mb-4 row">
                          <label class="form-label col-sm-3 text-white" id="login">Nombre</label>
                          <div class="col-sm-9">
                            <input type="text"/>
                          </div>
                        </div>
                        <div class="form-outline mb-4 row">
                          <label class="form-label col-sm-3 text-white" id="logni">Comentario</label>
                          <div class="col-sm-9">
                            <textarea class="col-12" rows="5"></textarea>
                        </div>
                        </div>
                        <div class="pt-1 mb-4">
                            <button class="btn btn-dark btn-lg btn-block" type="button">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
