
<app-navbar></app-navbar>

<div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 280px; background-color: rgb(255, 255, 255, 0.2);">
      <span class="fs-4 text-center" style="font-weight: bolder;">Apartados de la Wiki</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" *ngFor="let apartado of listaApartados">
      <li class="nav-item" >
        <a class="nav-link active m-2 p-4 bg-dark" aria-current="page" [routerLink]="['info/',apartado.nombreApartado]" routerLinkActive="router-link-active" >
         {{apartado.nombreApartado}}
        </a>
      </li>
    </ul>
    <hr>
</div>
<app-footer></app-footer>
