  <!--Footer-->
  <footer class=" footer  text-center" style="background-color: #000;">
    <!--div con los iconos de social media-->
    <div class="p-4">
        <ul>
            <h6 class="text-uppercase text-white">Sobre Nosotros: </h6>
            <li>
                <a href="https://twitter.com/?lang=es" class=" twitter" style="text-decoration:none"><i class="bi bi-twitter"> Twitter</i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/?hl=es" class="instagram" style="text-decoration:none"><i class="bi bi-instagram"> Instagram</i></a>
            </li>
        </ul>

    </div>
    <!--div con la informacion copyright-->
    <div class="p-3">
      <p class="text-white">©2022 Copyright: Andromeda</p>
    </div>
  </footer>